body{
    background-color: rgba(235, 176, 176, 0.619);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(3, 53, 3);
}

h1#principal{
    text-align: center;
    background-color: rgba(7, 102, 7, 0.3);
    color: white;
}
h2{
    color: rgb(140, 60, 239);
}

.basico{
     color: rgb(140, 60, 239);
     font-weight: bold;
}

.intermediario{
     color: rgb(56, 239, 39);
}

.avancado{
     color: rgb(109, 26, 243);
}

.destaque{
    background-color: yellowgreen;
}
