@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    background-color: rgba(128, 128, 128, 0.774);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 50px 1fr 50px;
    grid-template-columns: 1fr 150px;
    place-items: center center;
    gap: 5px;
}

.caixa{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding: 10px;
    text-align: center;

}

#topo{
    grid-row: 1 / 2;
    grid-column: 1 / 3 ;
}

#menu{
    grid-area: 2 / 1 / 3 / 3;
}

#principal{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

#secundario{ 
    grid-area: 3 / 2 / 4 / 3;
}

#rodape{
    grid-area: 4 / 1 / 5 / 3 ;
}