@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template: 80px 50px 2fr 50px/ auto 350px auto;
    place-items: center center;
    height: 400px;
    border: 1px solid black;
}

.topo{
    grid-row: 1 / 2;
    grid-column: 1 / 4 ;
}

.menu{
    grid-area: 2 / 1 / 3 / 4;
}

.principal{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.secundario{ 
    grid-area: 3 / 3 / 4 / 4;
}

.rodape{
    grid-area: 4 / 1 / 5 / 4 ;
}