@charset "UTF-8";

html, body{
    background-color: rgba(74, 1, 74, 0.184);

    margin: 0px;
    
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width:480px) {
    img{
        max-width:100%;
    }
}

@media screen and (min-width:481px) {
    img{
        max-width: 700px;
    }
}