@charset "UTF-8";

html, body{
    background-color: rgba(128, 128, 128, 0.529);

    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media screen and (min-width:480px) {
    img{
        max-width:100%;
    }
}