@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*paleta de cores
Azul #4A90E2
cinza claro #E0E0E0
preto #222222
verde rgb(2, 94, 2)
*/

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    background-color: white;
    font-family:"Open Sans"sans-serif;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
}

header{
    background-color:white;
}

header > h1{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #E0E0E0;
    text-decoration: underline;
    text-align: center;
    padding: 40px;
}

section{
    padding: 30px 0px 30px 0px;
    background-color: #E0E0E0

}

nav{
    padding: 30px;
    font-size: 1.1em;
}

nav > a{
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: black;
    
}

h1{
    color: rgb(2, 94, 2);
    padding: 20px;

    
}

h2{
    font-size: 1.8em;
    padding: 10px;
}

h3{
    padding: 10px;
}

h4{
    padding: 10px;
}

p{
    font-size: 1.2em;
    padding: 10px;
    background-color: white;
}

ul{
    background-color: white;
    list-style: none ;
    padding: 5px;
}

li{
    font-size: 1.2em;
    padding: 10px;
}

img{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.748);
    width: 100vw;
    height: 250px;
}

div > p{
    
}

#herosection{

}

#beneficios{

}

#sobre{

}

#feedbacks{

}

#contatos{
    background-color: rgba(0, 0, 0, 0.788);
    color: black;
}

footer > p{
    font-size: 1.1em;
    background-color: white;
    padding: 20px;
    text-align: center;
}